<%- include("partials/header"); %>

  <%- include("partials/hero"); %>

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <!-- <div class="icon"><i class="icofont-heart-beat"></i></div> -->
              <div class="icon"><i class="icofont-man-in-glasses"></i></div>
              <h4 class="title"><a href="">Lens Fitting</a></h4>
              <p class="description">
                We carry out comprehensive eye exams to determine the right lens prescription for you.              
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="icofont-computer"></i></div>
              <h4 class="title"><a href="">Computerized Eye Testing</a></h4>
              <p class="description">
                We offer world class computerized eye testing to examine and diagnose any eyesight problems you may have.              
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="icofont-dna-alt-1"></i></div>
              <h4 class="title"><a href="">Eye Disease Treatment</a></h4>
              <p class="description">
                We treat a large number of eye diseases and provide referrals to trustable higher health facilities for cases beyond our range.            
              </p>
              </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="icofont-truck-loaded"></i></div>
              <h4 class="title"><a href="">Wholesale Supply</a></h4>
              <p class="description">
                We are through our sister company Eyemed Optical Suppliers Limited the proud suppliers of wholesale eye products to various government eye hospitals and private opticians.              
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>In an emergency? Need help now?</h3>
          <p>
            Make an appointment to get your eyes examined as soon as possible. Our staff of experienced professionals is here to attend to you.          
          </p>
          <a class="cta-btn scrollto" href="#appointment">Make an Make an Appointment</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
          <p>
            We are a Zambian optician company stationed in Lusaka and Kitwe. We specialize in the administration of comprehensive and computerized eye exams, Lens making and spectacle fitting.
            We are dedicated to providing high quality service to our customers at affordable prices and to being a trustable retailer and wholesellers of eye products across the country.           
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>We strive to be the best provider of quality and affordable eye services.</h3>
            <p class="font-italic">
              In line with our commitment to provide quality and affordable products and services we are specialized in provision of the following services;
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Comprehensive eye examination and treatment.</li>
              <li><i class="icofont-check-circled"></i> Lens  Fitting and frame repair.</li>
              <li><i class="icofont-check-circled"></i> Wholesale supply of eye products.
            </ul>
            <p>
              Our vision as Eyemed Opticians Zambia limited is to ensure that every person is given an opportunity to access quality eye products and services. And so we place a special emphasis on the affordability and quality of our products and services. Get in touch with us to <a href="/#contact">learn more</a>.
            </p>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Us Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>
            We offer the following services at both of our locations in Lusaka and Kitwe, please stop by anytime, give us a call or send us an email to find out more about our products and services.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="icofont-eye"></i></div>
            <h4 class="title"><a href="">Comprehensive eye examination</a></h4>
            <p class="description">
              We provide comprehensive computerized eye examination with professional eye specialists
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="icofont-man-in-glasses"></i></div>
            <h4 class="title"><a href="">Lens Fitting</a></h4>
            <p class="description">
              We carry out comprehensive eye examinations find out the right lens prescription for you
            </p>
            </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="icofont-woman-in-glasses"></i></div>
            <h4 class="title"><a href="">Frames Repair</a></h4>
            <p class="description">
              We specialize in the repair of broken frames and spectacles         
            </p>
            </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="icofont-sunny"></i></div>
            <h4 class="title"><a href="">Lens Tinting</a></h4>
            <p class="description">
              We offer professional and quality lens tinting services
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="icofont-truck-loaded"></i></div>
            <h4 class="title"><a href="">Wholesale supply of frames and lenses</a></h4>
            <p class="description">
              We provide various eye products at wholesale prices through our sister company Eyemed Optical Suppliers
            </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="icofont-drug"></i></div>
            <h4 class="title"><a href="">Treatment of Eye disease</a></h4>
            <p class="description">
              We specialize in eye disease treatment for various eye illness’s 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Appointment Section ======= -->
    <section id="appointment" class="appointment section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Make an Appointment</h2>
          <p>
            Schedule an appointment with our dedicated doctors to get your eyes examined. We will get in touch with you via email or phone to confirm your appointment date and time.
          </p>
        </div>

        <form action="/contact/appointment" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          <div class="form-row">
            <div class="col-md-4 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="col-md-4 form-group">
              <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 form-group">
              <input type="date" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" data-rule="minlen:4" data-msg="Please enter a date for your appointment">
              <div class="validate"></div>
            </div>
          </div>

          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Make an Appointment</button></div>
        </form>

      </div>
    </section><!-- End Appointment Section -->

    <!-- ======= Testimonials Section ======= -->
    <% if (testimonials.length > 0) { %> 
      <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>
            Here is what our customers are saying about our products and services.
          </p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="100">

          <% testimonials.forEach(testimonial => { %>

            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  <%= testimonial.remarks %>
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <!-- <img src="<%= // testimonial.image %>" class="testimonial-img" alt=""> -->
              <h3><%= testimonial.name %></h3>
              <h4><%= testimonial.position %></h4>
            </div>

          <% }); %>

        </div>

      </div>
      </section>
    <% } %>
    <!-- End Testimonials Section -->

    <!-- ======= Doctors Section ======= -->
    <section id="doctors" class="doctors section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Meet the Team</h2>
          <!-- <p>
            Meet the team of dedicated optometrists focused on delivering quality products and services to you          
          </p> -->
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">

                <img src="assets/img/team/mosesmudolo.jpeg" class="img-fluid" alt="">

                <div class="social">
                  <a href="mailto:mudolomoses@gmail.com"><i class="icofont-email"></i></a>
                  <!-- <a href="cel:+260979577457"><i class="icofont-phone"></i></a> -->
                  <a href="cel:+260979577457">+260 979577457</a>
                </div>

              </div>
              <div class="member-info">
                <h4>Moses Mudolo</h4>
                <span>Chief Executive Officer | Optometrist </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">

                <img src="assets/img/team/harrisontembo.jpeg" class="img-fluid" alt="">

                <div class="social">
                  <a href="mailto:harrison.tembo@outlook.com"><i class="icofont-email"></i></a>
                  <!-- <a href="cel:+260979838147"><i class="icofont-phone"></i></a> -->
                  <a href="cel:+260979838147">+260 979838147</a>
                </div>

              </div>

              <div class="member-info">
                <h4>Harrison Tembo</h4>
                <span>Genral Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">

                <img src="assets/img/team/ruth.jpeg" class="img-fluid" alt="">

              </div>

              <div class="member-info">
                <h4>Ruth Izenzi</h4>
                <span>Optometrist</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">

                <img src="assets/img/team/nelia.jpeg" class="img-fluid" alt="">

              </div>

              <div class="member-info">
                <h4>Nelia Njombo</h4>
                <span>Optometrist</span>
              </div>

            </div>
          </div>

        </div>

      </div>
    </section><!-- End Doctors Section -->

    <!-- ======= Gallery Section ======= -->
    <!-- <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="owl-carousel gallery-carousel" data-aos="fade-up" data-aos-delay="100">
          <a href="assets/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-1.jpg" alt=""></a>
          <a href="assets/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-2.jpg" alt=""></a>
          <a href="assets/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-3.jpg" alt=""></a>
          <a href="assets/img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-4.jpg" alt=""></a>
          <a href="assets/img/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-5.jpg" alt=""></a>
          <a href="assets/img/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-6.jpg" alt=""></a>
          <a href="assets/img/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-7.jpg" alt=""></a>
          <a href="assets/img/gallery/gallery-8.jpg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-8.jpg" alt=""></a>
        </div>

      </div>
    </section> -->
    <!-- End Gallery Section -->

    <!-- ======= Frequently Asked Questioins Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questioins</h2>
          <p>
            We often receive the following questions. We hope our answers here can quickly resolve your query, if not please don’t hesitate to send us a message through the <a href="/#contact">contact</a> form below.          
          </p>
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

          <li>
            <a data-toggle="collapse" class="" href="#faq1">
              Where are you located?
            <i class="icofont-simple-up"></i></a>
            <div id="faq1" class="collapse show" data-parent=".faq-list">
              <p>
                We are located in suite 1, Lonhro House off Cairo road in Lusaka.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq2" class="collapsed">
              Do I have to make an appointment?
            <i class="icofont-simple-up"></i></a>
            <div id="faq2" class="collapse" data-parent=".faq-list">
              <p>
                You can come through on any weekday without an appointment and we will be happy to attend to you.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq3" class="collapsed">
              Do you deliver your products across the country?
            <i class="icofont-simple-up"></i></a>
            <div id="faq3" class="collapse" data-parent=".faq-list">
              <p>
                Get in touch with us and we can arrange delivery to you if you live outside Lusaka.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq4" class="collapsed">
              Do you do frame repair?
            <i class="icofont-simple-up"></i></a>
            <div id="faq4" class="collapse" data-parent=".faq-list">
              <p>
                Yes we offer frame repair services for all types of frames.
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#faq5" class="collapsed">
              Do you do eye testing?
            <i class="icofont-simple-up"></i></a>
            <div id="faq5" class="collapse" data-parent=".faq-list">
              <p>
                Yes we specialize in comprehensive computerized eye examination
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questioins Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>
            Feel free to contact us with any enquiry through the email, phone number or contact form below. We are excited to hear from you and we’ll respond as soon as possible.
          </p>
        </div>

      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12036.066223443075!2d28.275109493932113!3d-15.41615631888946!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1940f345713a1d9d%3A0x3d01218bb790b85e!2sEyemed%20opticians!5e0!3m2!1sen!2szm!4v1631797765020!5m2!1sen!2szm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>      
      </div>

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>
                    Suite 1, Lonhro House off Cairo road, Lusaka
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>
                    <% if(data.emailOne) { %>
                      <%= data.emailOne.value %>
                    <% } %>
                    <br>
                    <% if(data.emailTwo) { %>
                      <%= data.emailTwo.value %>
                    <% } %>                  
                  </p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>
                    <% if(data.phoneOne) { %>
                      <%= data.phoneOne.value %>           
                    <% } %>
                    <br>
                    <% if(data.phoneTwo) { %>
                      <%= data.phoneTwo.value %>
                    <% } %>
                  </p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="/contact/index" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div style="margin-bottom: 1rem;" class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <%- include("partials/footer") %>