<%- include("partials/header") %>

    

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 2 -->
          <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-2.jpg)">
            <div class="container">
              <h2>Welcome to Eyemed Optical Supliers</h2>
              <p>Your number one eye product wholesellers in Zambia</p>
              <a href="#about" class="btn-get-started scrollto">Read More</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Hero -->

    <section id="wholesale-products">

      <div class="album py-5 bg-light">

        <div class="container">
    
          <!-- <div class="row col-lg-3 col-md-4 g-3"> -->

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    
            <% products.forEach(product => { %>
    
              <div class="col">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="100%" height="100%"  src="<%= product.image %>" alt="<%= product.name %>">
                  <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
    
                  <div class="card-body">
                    <h2 class="card-header-text"><%= product.name %></h2>
                    <p class="card-text"><%= product.description %></p>
                    <p class="product-price card-text">K<%= product.price %></p>
                    <!-- <p class="card-text">Quantity : <%= product.quantity %></p> -->

                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/wholesale/<%= product.slug %>" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                        <a href="/cart/add/<%= product.slug %>?route=wholesale" type="button" class="btn btn-sm btn-outline-secondary">Add to Cart</a>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
    
            <% }); %>
    
          </div>
    
        </div>
    
      </div>     

    </section>

<%- include("partials/footer") %>